<header>
  <div class="container">
    <div class="navbar-header">
      <%= link_to image_tag("vxi-logo.png", alt: "VXI"), root_path %>
    </div>
    
    <nav class='navbar fixed-top' id='Navbar' >
      <ul class="navbar-nav bd-navbar-nav flex-row">
        <li class="nav-item-diagonal"></li>
        <li class="nav-item"><%= link_to 'Home', root_path %></li>
        <li class="nav-item"><%= link_to Blog, blogs_path %></li>
      </ul>

      <div class="nav-hamburger" onclick="toggleHamburgerMenu()"><span></span></div>

    </nav>
    
  </div>
</header>